<html>
    <head>
        <link href="assets/style.css" type = "text/css"
        rel = "stylesheet"/>
    </head>
    <body>
        
        <h1> LOGIN :<%= login %></h1>
        <h1> SIGNUP : <%=signup %> </h1>
        <!-- <h1> user:<%= username %></h1> -->
        <!-- <h1> asdasdas : <%=password %> </h1> -->
    </body> -->
    </body>

</html>