<html>
    <head>
        <link href="assets,style.css" type = "text/css"
        rel="stylesheet" />
    </head>
    <body>
        <h1> some kind of cherto pert </h1>
        <form method = "POST" action="/check">
            First name:<input type="text" id = "username"
            name = "username" />
            Last name:<input type="password" id = "password"
            name = "password" />
            <input type = "submit" value = "submit"/>
        </form>
    

    </body>
</html>