<html>
    <head>
        <link href="assets/style.css" type = "text/css"
        rel = "stylesheet"/>
    </head>
    <body>
        <h1> user:<%= aydi %></h1>
        <h1> asdasdas : <%=Qiustr %> </h1>
    </body>

</html>