<html>
    <head>
        <link href="assets/style.css" type = "text/css"
        rel = "stylesheet"/>
    </head>
    <body>
        <h1> username : <%= universityCode %></h1>
        <h1> password : <%= password %> </h1>
        <h2> wellcome : <%= universityCode %> to our community</h2>
    </body>

</html>
</html>